main/pipeline/Main.json
{
	"name": "Main",
	"properties": {
		"activities": [
			{
				"name": "Copy Country",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "happinesscontainer//countries_continents_codes_flags_url.json"
					},
					{
						"name": "Destination",
						"value": "happinesscontainer//Happinesstest.csv"
					}
				],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "TRUNCATE TABLE [DSHappiness].country\nTRUNCATE TABLE [DSHappiness].[testhappinesstest]",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AZURESQLDatabaseCountry",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "loopdatainfolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Files from Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Files from Folder').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "year",
											"value": {
												"value": "@substring(item().name, 7, 4)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "DATA",
										"wildcardFileName": "@item().name",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"ordinal": 1
											},
											"sink": {
												"name": "Prop_0",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"ordinal": 2
											},
											"sink": {
												"name": "year",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"ordinal": 3
											},
											"sink": {
												"name": "Prop_1",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"ordinal": 4
											},
											"sink": {
												"name": "Prop_2",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"ordinal": 5
											},
											"sink": {
												"name": "Prop_3",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"ordinal": 6
											},
											"sink": {
												"name": "Prop_4",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"ordinal": 7
											},
											"sink": {
												"name": "Prop_5",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"ordinal": 8
											},
											"sink": {
												"name": "Prop_6",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"ordinal": 9
											},
											"sink": {
												"name": "Prop_7",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"ordinal": 10
											},
											"sink": {
												"name": "Prop_8",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DelimitedText3",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AZURESQLDatabaseHappiness",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Files from Folder",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy Country",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"annotations": []
	}
}